.App {
  min-height: 100vh;
}

/* Custom animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Spinner animation for loading states use in teacher modal*/
.fa-spinner.spin {
  animation: spinner-rotation 1s infinite linear;
}

@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
